@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root{
    --primary-color: #f63f2d;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #282828;
    --border-color: #c9c9c9;
    --star-gold: #ffce3e;

    --header-height: 150px;
    --navbar-height:34px;
    --search-height: calc(var(--header-height) - var(--navbar-height));
}

*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6rem;
    box-sizing: border-box;
}

.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full__width{
    width: 100%;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.grid__col-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__col-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}

.grid__col-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}

 /* MODAL */
.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear .1s;
    display: none;
}

.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
}

.modal__body{
    margin: auto;
    z-index: 1;
    --growth-from: 0.7;
    --growth-to: 1;
    animation: growth linear .1s;
}

/* BUTTON */
.btn{
    min-width: 124px;
    height: 34px;
    outline: none;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--text-color);
    background-color: var(--white-color);
    padding: 0 12px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    line-height: 1.6rem;
}

.btn--normal:hover{
    background-color: rgba(0, 0, 0, .1);
}

.btn.btn--primary{
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn-size-s{
    height: 32px;
    font-size: 1.2rem;
}

/* SELECTION */
.select-input{
    min-width: 200px;
    height: 34px;
    padding: 0 16px;
    border-radius: 2;
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.select-input:hover .select-input__list{
    display: block;
}

.select-input__label{
    font-size: 1.4rem;
}

.select-input__icon{
    font-size: 1.4rem;
    color: #555555;
    position: relative;
    top: 2px;
    cursor: pointer;
}

.select-input__list{
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    background-color: var(--white-color);
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    border-radius: 2px;
    display: none;
    z-index: 1;
}

.select-input__link{
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.3rem;
    padding: 14px 16px;
}

.select-input__link:hover{
    color: var(--primary-color);
}

/* PAGINATION */
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.pagination__item--active .pagination__item-link{
    background-color: var(--primary-color);
    color: var(--white-color);
}

.pagination__item-link{
    --height: 30px;
    text-decoration: none;
    font-size: 1.8rem;
    color: #939393;
    display: block;
    height: var(--height);
    min-width: 40px;
    border-radius: 2px;
    line-height: var(--height);
    text-align: center;
    margin: 0 12px;
}